// Fonts

$fontOne:'Josefin Sans', sans-serif;
$fontTwo:'Abril Fatface', cursive;

html {
    font-size: 20px;
}

// Colors

$lightColor1:#fdfffc;
$lightColor2:#e8ebe4;

$darkColor1:#19181d;
$darkColor2:#59656f;
$darkColor3:#a9aba6;

$accentColor:#f76e2a;

// Wrapper

.wrapper {
    /* adjust wrapper for full screen and medaiQ */
    margin: 0 auto;
    widows: 800px;
    max-width:60%;
}    


