// sweetAlert

.playAgain {
    font-family: $fontOne;
    font-size:1.5rem;
    color:black;
    border:4px solid $darkColor2;
    padding:15px 45px;
    cursor: pointer;
    // margin-top:40px;
    transition: all ease-in-out 0.2s;
}

.playAgain:hover {
    font-style: italic;
    font-size:1.5rem;
    color:$lightColor1;
    background-color:$accentColor;
    border:4px solid $lightColor1;
    padding:15px 45px;
    cursor: pointer;
}

.sAClick {
    font-family: $fontOne;
    color:$darkColor2;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sATitle {
    font-family: $fontTwo;
    color: $darkColor1;
    font-size: 3rem;
    margin-bottom: 20px;
}

.swal2-show {
    height:600px;
}